*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.headText {
    height: 10%;
    display: table;
    float: left;
}

.headText p {
    color: black;
    height: 10%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Segoe UI';
    font-size: 20px;
    text-align: center;
}

.headText b {
    height: 50px;
}

.rainbow {
    font-family: 'Segoe UI';
    animation: colorRotate 6s linear 0s infinite;
}
  
@keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
}

.body {
    width: 100%;
    display: block;
    background-color: white;
}

.text {
    height: 100%;
    display: table;
    float: left;
}

.text p {
    color: black;
    font-family: 'Segoe UI';
    font-size: 40px;
    position: relative;
    top: -100px;
    left: -140px;
}

.text img {
    position:relative;
    top: -200px; 
    left: 200px;
    width: 100px;
    height: 100px;
}

.text iframe {
    position:relative;
    top: 150px; 
    left: -475px;
    width: 320px;
    height: 500px;
}

.text2 {
    height: 100%;
    display: table;
    float: left;
}

.text2 p {
    color: black;
    font-family: 'Segoe UI';
    font-size: 40px;
    position: relative;
    top: 400px;
    left: -485px;
}

.text2 img {
    position:relative;
    top: 300px; 
    left: -180px;
    width: 100px;
    height: 100px;
}

.text2 iframe {
    position:relative;
    top: 700px; 
    left: -815px;
    width: 320px;
    height: 500px;
}

.text3 {
    height: 100%;
    display: table;
    float: left;
}

.text3 p {
    color: black;
    font-family: 'Segoe UI';
    font-size: 40px;
    position: relative;
    top: 100px;
    left: 5px;
}

.text3 img {
    position:relative;
    top: 0px; 
    left: 250px;
    width: 100px;
    height: 100px;
}

.text3 iframe {
    position:relative;
    top: 350px; 
    left: -325px;
    width: 320px;
    height: 500px;
}